/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    background-color: #ffffff;
    min-width: 320px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles

   Colour palette: http://www.colourlovers.com/palette/2031322/ice_coffee
   ========================================================================== */

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 0;
    line-height: 1.0;
    color: rgba(0,0,0,0.6);
    font-size: 21px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    color: #4F6B97;
    text-decoration: none;
    border-bottom: 1px solid #C7C7C7;
}

/** Front Page Header **/
header.front-page-header {
  display: block;
  width: auto;
  padding: 3em 1em;
  text-align: center;
}
header.front-page-header > a.brand > img {
  display: block;
  width: 100%;
  max-width: 35em;
  margin: 0 auto;
}
header.front-page-header > span.soundbite {
  display: block;
  color: #778899;
  font-size: 1.7em;
  font-weight: normal;
  text-align: center;
  line-height: 1.2;
  max-width: 20em;
  margin: 2em auto;
}
header.front-page-header > a {
  margin: 0 auto;
  font-size: 1em;
}
a.forward:after {
  content: " »";
}
a.backward:before {
  content: "« ";
}

/** Front Page Content **/
section.front-page-content {
  display: block;
  width: auto;
  padding: 2em 2em 2em 2em;
  text-align: center;
}
section.front-page-content > span.soundbite {
  display: block;
  color: #778899;
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
  line-height: 1.2;
  max-width: 40em;
  margin: 2em auto 0.5em auto;
}
section.front-page-content > a {
  margin: 0 auto;
  font-size: 1em;
}

/** Front Page **/
section.projects {
  background-color: #EFF5FF;
}

section.project-list {
  display: table;
  border-spacing: 1em 3em;

  margin: 0 auto;
  width: auto;
  max-width: 60em;
}

section.project-list > section {
  display: table-row;
  height: 75px;
}

section.project-list > section > * {
  display: table-cell;
  vertical-align: middle;
}

section.project-list > section > h1 {
  text-align: right;
  font-size: 1.35em;
  font-weight: bold;

  padding: 0;
  margin: 0;
}

section.project-list > section > h1 > a {
  color: #3F567A;
}

section.project-list > section > p {
  line-height: 1.5;
  margin: 0;
}

section.project-list > section > ul {
  line-height: 1.5;
  list-style: none;
  white-space: nowrap;

  padding: 0;
  margin: 0;
}

section.project-list > section > ul > li {
  font-size: 0.9em;
}

section.project-list > section > ul > li > a:after {
  content: " »";
}

span.tag {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.2em 0.3em;
  font-size: 0.65em;
  font-weight: bold;
  margin-left: 0.15em;
  line-height: 1.0;
}

span.objective-c {
  color: #FFFFFF;
  background-color: #779CAB;
}

span.objective-c:before {
  content: "objective-c";
}

span.swift {
  color: #FFFFFF;
  background-color: #FF8552;
}

span.swift:before {
  content: "swift";
}

span.carthage {
  color: #FFFFFF;
  background-color: #72B01D;
}

span.carthage:before {
  content: "carthage";
}

span.cocoapods {
  color: #FFFFFF;
  background-color: rgb(245, 0, 0);
}

span.cocoapods:before {
  content: "cocoapods";
}

div.clear { clear: both; }

/* Sections in content pages */

section.content {
  max-width: 30em;
  margin: 0 auto;
  padding: 0 1em;
}

section.content > p {
  line-height: 2.0;
  max-width: 30em;
  margin: 1em auto;
  text-align: justify;
}

section.content > h1.emph {
  text-align: left;
  font-size: 1.50em;
  font-weight: normal;
  padding: 1.5em 0;
  color: #778899;
}

section.content > h1.alert {
  color: #FE5F55 !important;
}

section.quote {
    padding-bottom: 1em;
    max-width: 40em;
    margin: 0 auto;
}

section.quote blockquote {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    background-color: #efefef;
    padding: 3em 0em;
    line-height: 1.3;
}

section.quote p {
    text-align: center;
    font-style: italic;
}

/* foreword */

section.foreword {
    text-align: center;
    font-size: 0.8em;
    line-height: 1.5;
    padding-bottom: 1em;
    max-width: 30em;
    margin: 0 auto;
}

section.foreward p a {
    color: #73726D;
}

/* ReactiveCocoa */

section.rac img {
    display: block;
    width: 100%;
    max-width: 17em;
    margin: 2.5em auto 0 auto;
}

/******
FOOTER
*******/

footer {
    font-size: 0.8em;
    padding: 3em 1em;
    color: #787878;
    text-align: center;
}

footer p {
}

footer a {
    color: #4F6B97;
    border-bottom: 1px solid #c7c7c7;
}

/*
Media Queries
*/

@media only screen and (max-width: 55em) {
    body {
        font-size: 18px;
    }
}
@media only screen and (max-width: 45em) {
    section.title h1 {
        font-size: 3em;
    }
    header.front-page-header > a.brand > img {
      width: 100%;
    }
    header.front-page-header > span.soundbite {
      font-size: 1.5em;
    }
    section.front-page-content > span.soundbite {
      font-size: 1.2em;
    }
    section.project-list {
      display: block;
      white-space: nowrap;

      width: -webkit-fit-content;
      width: fit-content;

      padding: 0 0 2em 0;
      margin: 0 auto;
    }
    section.project-list > section {
      display: block;
      height: auto;
      padding: 2em 0 0 0;
    }
    section.project-list > section > * {
      display: block;
    }
    section.project-list > section > h1 {
      text-align: left;
    }
    section.project-list > section > p {
      padding: 1em 0;
    }
    section.project-list > section > ul > li {
      font-size: 1.0em;
    }
}
@media only screen and (max-width: 30em) {
    h1.emph {
        font-size: 1.8em;
    }
    section.title h1 {
        font-size: 2em;
    }
    p {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
