---
title: ReactiveCocoa
---

<header class="front-page-header">
	<a href="https://github.com/ReactiveCocoa/ReactiveCocoa" class="brand">
		<img src="img/logo.png" />
	</a>
	<span class="soundbite">
		Functional Reactive Programming.<br />In Objective-C and Swift.
	</span>
	<a href="philosophy.html" class="forward">Our philosophy</a>
</header>
<section class="projects">
	<section class="project-list">
		<section id="reactivecocoa">
			<h1>
				<a href="https://github.com/ReactiveCocoa/ReactiveCocoa/">
					ReactiveCocoa
				</a>
			</h1>
			<p>
				Streams of values over time.<br />
				<span class="tag objective-c"></span>
				<span class="tag swift"></span>
				<span class="tag carthage"></span>
			</p>
			<ul>
				<li>
					<a href="https://github.com/ReactiveCocoa/ReactiveCocoa#getting-started">
						Getting Started
					</a>
				</li>
				<li>
					<a href="https://github.com/ReactiveCocoa/ReactiveCocoa/blob/master/Documentation/FrameworkOverview.md">
						Framework Overview
					</a>
				</li>
				<li>
					<a href="https://github.com/ReactiveCocoa/ReactiveCocoa/blob/master/Documentation/BasicOperators.md">
						Basic Operators
					</a>
				</li>
			</ul>
		</section>
		<section id="rex">
			<h1>
				<a href="https://github.com/RACCommunity/Rex/">Rex</a>
			</h1>
			<p>
				ReactiveCocoa extensions in Swift.<br />
				<span class="tag swift"></span>
				<span class="tag carthage"></span>
			</p>
		</section>
	</section>
</section>
<section class="front-page-content">
	<span class="soundbite">
		Looking for projects built upon ReactiveCocoa?
	</span>
	<a href="https://raccommunity.github.io/racurated/" class="forward">Racurated</a>
</section>
<footer>
	<p>
		Created by
		<a href="https://github.com">GitHub</a>. Maintained by the ReactiveCocoa community.
	</p>
	<a rel="license"
	href="http://creativecommons.org/licenses/by/4.0/deed.en_US">
		<img alt="Creative Commons License" style="border-width:0"
		src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
	</a>
</footer>
