---
title: ReactiveCocoa
---

<section class="title">
	<h1>
		ReactiveCocoa
	</h1>
	<p>
		ReactiveCocoa is an implementation of functional reactive programming
		– for more information about FRP, see our <a href="philosophy.html">
		philosophy</a> page.
	</p>
</section>

<section class="light rac">
	<a href="https://github.com/ReactiveCocoa/ReactiveCocoa">
		<img src="img/rac_logo.png" />
	</a>
</section>

<footer>
	<p>
		<a href="https://github.com/ReactiveCocoa/ReactiveCocoa">
		ReactiveCocoa</a> is a framework developed by 
		<a href="https://github.com">GitHub</a> to support functional reactive 
		programming on iOS and OS X. 
	</p>
	<a rel="license" 
	href="http://creativecommons.org/licenses/by/4.0/deed.en_US">
		<img alt="Creative Commons License" style="border-width:0" 
		src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
	</a>
</footer>