---
title: ReactiveCocoa
---

<header class="front-page-header">
	<a href="https://github.com/ReactiveCocoa/ReactiveCocoa" class="brand">
		<img src="img/logo.png" />
	</a>
	<span class="soundbite">
		A family of Functional Reactive Programming frameworks, in Objective-C and Swift.
	</span>
	<a href="philosophy.html" class="forward">Our philosophy</a>
</header>
<section class="projects">
	<h1>Choose your destination.</h1>
	<ul>
		<li class="cocoa"><a href="https://www.github.com/ReactiveCocoa/ReactiveCocoa/">Cocoa</a></li>
		<li class="swift"><a href="https://www.github.com/ReactiveCocoa/ReactiveSwift/">Swift</a></li>
		<li class="objcbridge"><a href="https://www.github.com/ReactiveCocoa/ReactiveObjCBridge/">Bridge</a></li>
		<li class="objc"><a href="https://www.github.com/ReactiveCocoa/ReactiveObjC/">ObjC</a></li>
	</ul>
</section>
<section class="front-page-content">
	<span class="soundbite">
		Looking for projects built upon ReactiveCocoa?
	</span>
	<a href="https://raccommunity.github.io/racurated/" class="forward">Racurated</a>
</section>
<footer>
	<p>
		Created by
		<a href="https://github.com">GitHub</a>. Maintained by the ReactiveCocoa community.<br />Licensed by the <a href="https://github.com/ReactiveCocoa/ReactiveCocoa/blob/master/LICENSE.md">MIT License</a>.
	</p>
	<a rel="license"
	href="http://creativecommons.org/licenses/by/4.0/deed.en_US">
		<img alt="Creative Commons License" style="border-width:0"
		src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
	</a>
</footer>
