---
title: ReactiveCocoa
---

<header class="front-page-header">
	<a href="https://github.com/ReactiveCocoa/ReactiveCocoa" class="brand">
		<img src="img/logo.png" />
	</a>
	<span class="soundbite">
		Functional Reactive Programming.<br />In Objective-C and Swift.
	</span>
	<a href="philosophy.html" class="philosophy-portal">Our philosophy &raquo;</a>
</header>
<section class="projects">
	<h1></h1>
	<section class="project-list">
		<section>
			<h1>
				<a href="https://github.com/ReactiveCocoa/ReactiveCocoa/">ReactiveCocoa</a>
			</h1>
			<p>Streams of values over time.<br /><span class="language-tag objective-c">ObjC</span><span class="language-tag swift">Swift</div></p>
		</section>
		<section>
			<h1>
				<a href="https://github.com/RACCommunity/Rex/">Rex</a>
			</h1>
			<p>Cocoa Bindings for ReactiveCocoa in Swift.<br /><span class="language-tag swift">Swift</div></p>
		</section>
	</section>
</section>
<footer>
	<p>
		<a href="https://github.com/ReactiveCocoa/ReactiveCocoa">
		ReactiveCocoa</a> is a framework created by
		<a href="https://github.com">GitHub</a> and maintained by the ReactiveCocoa community.
	</p>
	<a rel="license"
	href="http://creativecommons.org/licenses/by/4.0/deed.en_US">
		<img alt="Creative Commons License" style="border-width:0"
		src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
	</a>
</footer>
